<button (click)="showText()" class="btn btn-success mb-3">
  Display details
</button>
<!--  -->
<div *ngIf="!isVisible">
  <h4>Number of clicks</h4>
  <div class="d-flex flex-row flex-wrap">
    <p class="m-1" *ngFor="let number of logBook">
      {{ number }}
    </p>
  </div>
</div>
<!--  -->
<div *ngIf="isVisible">
  <p class="text-light bg-secondary p-3 rounded">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae unde a,
    earum aliquam quidem laborum! Incidunt soluta quo magnam deleniti ullam,
    perspiciatis rem? Molestias aperiam voluptate libero nemo delectus excepturi
    quam labore nobis deserunt ducimus, illum doloribus. Saepe porro, voluptas
    optio debitis, cum placeat quidem, corporis nemo inventore animi iusto.
  </p>
  <h4>Number of clicks</h4>
  <div class="d-flex flex-row flex-wrap">
    <p
      class="w-25 text-center m-1"
      [ngClass]="getClass(number)"
      *ngFor="let number of logBook"
    >
      {{ number }}
    </p>
  </div>
</div>
